div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.badan {
     width: 1200px;
    margin: 10px auto;
    border: 2px solid gray;
  }
.c {
    width: 300px;
    height: 200px;
    border: 4px solid gold;
  } 
div.poto{
    padding: 0px;
    margin: 50px;
    
}
.y{
    padding: 10px;
    margin: 13px 30px;
}
.kepala{
    font-family: 'aurora';
    color:rgb(253, 236, 2);
    font-size: 60px;
    padding : 0px;
    margin: 0px;
    background-color: gray;
    
}
h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 0 0 0 10px;
}
@font-face{
    font-family: 'aurora';
    src:url('aurora/Aurorascript.ttf')
}
div.potos{
    border: 2px dotted green;
    display: inline-block;
    margin: 0px 15px 15px 15px;
    padding: 15px;
    width: 1000px;
}
.g{
    float: left;
}
.baru{
    padding-left: 5px;
}
div.potoss{
    border: 2px dotted green;
    margin: 0px 15px 15px 15px;
    padding: 15px;
    width: 1000px;
    float: right;
}
.lihat{
    padding: 15px;
    margin: 15px 20px;
    text-decoration: none;
    color: orangered;
}
.lihat:hover{
    color:chartreuse;
}