/*style servis*/
.img-servis{
	width: 150px;
}
.row-container{
	background-color: greenyellow;
	margin: 0px;

}
.img-servis:hover {
	transform: scale(1.2);
	transition: 0.2s;
}
/*style carousel*/
.carousel-item {
	height: 450px;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-item img{
 height:450px;
}
/*style card*/
.card:hover {
	border: 1px solid #2d2d2d;
}